.navBar {
    height: 7vh;
    width: 99%;
    box-sizing: border-box;
    margin: 0.5%;
    margin-bottom: 3vh;
}

.logo {
    height: 3vh;
    width: auto;
    transition: scale 0.5s ease;
}
.logo:hover {
    scale: 1.1;
}

.pageTitle {
    color: white;
    position: absolute;
    left: 50%;
    translate: -50% ;
    font-size: 4vh;
    text-box: trim-both cap alphabetic;
}