:root {
  --bgRatio: 1.087962963;
}

body {
  background-image: linear-gradient(90deg, #00ff1577, #0091ff77), url("whooshBg.png");
  background-size: auto 100dvh;
  background-repeat: repeat-x;
  animation: scrollInfinite 35s linear infinite;
}
@keyframes scrollInfinite {
  0%   { background-position: 0 0, 0 0; }
  100% { background-position: 0 0, calc(100dvh * 1.087962963) 0; }
}

.logo {
    width: 50vw;
    display: block;
    margin: 0 auto;
}