.navBar {
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
}

.panel {
    border: 2vh solid transparent;
    border-image: url(/button.png) 500 fill / 2vh round;
} 

.logo {
    height: 3vh;
    width: auto;
    transition: scale 0.5s ease;
}

.logo:hover {
    scale: 1.1;
}

.buttonContainer {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.button {
    width: 15vw;
    height: 15vw;
    transition: background-image 0.25s ease;
    position: relative;
    display: inline-grid;
    place-items: center;
    text-align: center;
    transition: scale 1s ease;
    container-type: size;
}
.button:hover {
    scale: 1.1;
    animation: shake 3s linear infinite;
}
@keyframes shake {
    0%   { rotate: 0deg; }
    25%  { rotate: 5deg; }
    75%  { rotate: -5deg; }
    100% { rotate: 0deg; }
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  "width" 100;
}

.buttonText {
    color: white;
    text-decoration: none;
    font-size: min(20cqw, 50cqh);
}

.center {
  display: grid;
  place-items: center;
  min-height: 100vh;   /* full screen height */
}

.disclaimer {
    width: 75vw;
    display: block;
    margin: 0 auto;
    max-height: 10vh;
}

.disclaimerText {
    color: white;
    text-decoration: none;
    text-align: center;
}